 @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: poppins, sans serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 
.logo {
    display: flex;
    /* margin-left: 1%; */

    text-align: center;
    margin-top: 0.5vh;

    font-size: larger;
    font-weight: 700;
    /* flex-direction: column; */
}



 button {
    cursor: pointer;
 }

body {
    background: linear-gradient(to bottom, #360000, #000000);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.start-text{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    flex-direction: column;
}

.start-text span {
    font-size: larger;
}

 .container{
    background-color: transparent;
    width: 90%;
    max-width: 800px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 0 2px 2px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.questions-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    gap:24px
}

.question {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.answers-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* cria duas columns do mesmo tamanho */
    gap: 20px;
}

.next-question-button {
    margin-top: 22px;
}

button {
    background-color: #360000;
    color: white;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;

    transition: filter 0.2s;
}

button:not(:disabled):hover {
    background-color: #570808;
    filter: brightness(0,8);
}

.hide{
    display: none;
}

.correct{
    background-color: rgb(0, 95, 0);
}

.incorrect {
    background-color: rgb(255, 0, 0);
}

.answer:disabled{
    cursor:not-allowed
}

.final-message{
    font-size: 20px;
    text-align: center;
}

.final-message span{
    display: block;
    margin-top: 9px;
}