@import url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap);

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #fff;
    font-family: poppins, sans-serif;
    background-image:
        linear-gradient(to bottom, rgba(87,8,8,0.8), rgba(0,0,0,0.8)),
        url('../assets/imgs/background.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

 :root {
    --vermelho: #971e1e;
    --preto: #0000;
    --branco: #FFFEFA;
    --bordo: #360000;
    --vinho: #570808;
    --laranja: #AD1A1A;
    --marrom: #332424;
    --bordoescuro: #1F0000;
    --vermelhoclaro: #621b1b;
    --bege: #f8f1d4;
} 

.logo {
    display: flex;

    text-align: center;
    margin-top: 0.5vh;

    font-size: larger;
    font-weight: 700;
}

.header li{
    list-style-type: none;
}

h1 {
    font-size: 1.7rem;
    margin: 18px 0 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding: 15%; */
    gap: 1vh;
    align-items: center;
    text-align: center;

}

.header a {
    text-decoration: none;
    color: var(--branco);
    margin-right: 5vh;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    align-items: center;
    color: var(--branco);
    background-color: var(--bordo);
}


.main {
    width: 100%;
    background: transparent;
    height: 100%;
    text-align: center;
}


.main .titulo {
    display: flex;
    justify-content: center;
    padding: 5vh 0 2vh 0;
    font-size: 30px;
    font-weight: bolder;
}

.main .subtitulo {
    display: flex;
    justify-content: center;
    padding: 0 30px; 
    position: relative;
    text-align: center;
}

.main .direcionamentos {
    color: var(--branco);
    width: 35%;
    height: 3%;
    background-color: #360000;
    border-radius: 30px;
    padding: 0.5vh 2vh;
    text-decoration: none;
    white-space: nowrap;  
    font-weight: bolder;
}


.login-btn {
    display: flex;
    gap: 2vh;
    justify-content: flex-end;
}

.card-login {
    display: flex;
    width: 500px;
    height: fit-content;

    align-self: center;
    padding: 1vh 20vh 2vh 20vh; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    align-content: center;
    margin-left: 24%;
    gap: 9px;

    
    border-radius: 25px;
    border: solid #3b1c1c;
    
    color: #1F0000;
    font-size: 18px;
    font-weight: 600;
    background-color: #eae7db;
}

.topico {
    font-size: larger;
}

.input {
    width: 80vh;
    height: 5vh;

    border: 2px solid var(--bordoescuro);
    border-radius: 15px;

    text-align: center;

    font-size: 18px;
    font-family: poppins, sans-serif;
}

.header li{
    list-style-type: none;
}

.login-- {
    font-family: poppins, sans-serif;
    color: var(--branco);
    width: 30%;
    height: 3%;
    background-color: #360000;
    border-radius: 8px;
    padding: 0.5vh 2vh;
    text-decoration: none;
    white-space: nowrap; 
    font-size: larger;
    cursor: pointer;
    font-weight: bold;
}

.contato {
    width:100%;
    height: max-content;
    color:#360000;
}

footer {
  padding: 30px 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.footer-icons {
  position: absolute;
  left: 20px;
  display: flex;
  gap: 15px;
}

.footer-icons .icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  cursor: pointer;
}

.footer-texto {
  text-align: center;
}
